<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ЛИЗА РАЙЛЯН</title>
</head>
<body>
	
	<div>
	<h1>ЛИЗА РАЙЛЯН</h1>
		
		<% @liza.each do |l| %>
			

			<img style="height: 300px" src="<%= l.link_to_pic %>" alt="">	
			<p>Возраст <%= l.age %> лет</p>

		<% end %>

	</div>


</body>
</html>