// Place all the styles related to the wellcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainPage {
	display: flex;
	justify-content: center;
}

.nav {
	display:flex;
	justify-content:center;
	&_wrapper {
		width: 30%;
		display: flex;
		justify-content: space-around;
		&__butt {
			margin: 20px;
			
			a {
				text-decoration: none;
				color: white;
				padding: 7px 15px;
			background-color: #7c03b5;
			
			border-radius: 4px;
				&:hover {
					background-color: #7c03b5
				}
			}
		}

	}	

}