
<div class="nav">
	<div class="nav_wrapper">
<span class="nav_wrapper__butt"> <%= link_to 'ЛИЗА', lizas_path %></span>
<span class="nav_wrapper__butt"> <%= link_to 'НАСТЯ', nastiamods_path %></span>
<span class="nav_wrapper__butt"> <%= link_to 'АЛЁНА', alionamods_path %></span>
<span class="nav_wrapper__butt"> <%= link_to 'ДИАНА', dianas_path %></span>

</div>
</div>


<div class="mainPage"> <img src="http://nikvesti.com/images/imageeditor/2015/9/7/10235/10235_3.jpg" alt=""></div>
